
<h1>Crops</h1>

<h3> <%= link_to 'Plant something lovely!', new_crop_path %> </h3>

<table class='table'>

  <thead>
  <th>Name</th>
  <th>Description</th>
  <th> </th>
  </thead>


  <% @crops.each do |crop| %>
  <tr>
    <td>
      <%= crop.name %>
    </td>
    <td>
      <%= crop.description %>
    </td>
    <td>
      <%= link_to 'Edit', edit_crop_path(crop.id) %>
    </td>
  </tr>

  <% end %>

</table>
