
<h1>List of Crops</h1>

<h2> <%= link_to 'Add a crop', new_crop_path %> </h2>

<table class='table'>

  <thead>
  <th>Name</th>
  <th>Description</th>
  </thead>


  <% @crops.each do |crop| %>
  <tr>
    <td>
      <%= crop.name %>
    </td>
    <td>
      <%= crop.description %>
    </td>
  </tr>

  <% end %>

</table>
